<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><title>FEPO Spring</title></head>
    <body>
        <h2>Customers list</h2>
        <table id="customers" class="table table-striped">
            <thead>
            <tr>
                <th style="...">ID</th>
                <th style="...">First Name</th>
                <th style="...">Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${selections}">
                <td th:text="${customer.id}"/>
                <td th:text="${customer.firstName}"/>
                <td th:text="${customer.lastName}"/>
            </tr>
            </tbody>

        </table>
    </body>
</html>